@import url('https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020409;
  color: #e9f7ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Clash Grotesk',
    monospace;
}
